<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sort and Pagination in Angular js</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-app="angularTable">
<div class="container">
    <div class="col-lg-9 col-lg-offset-2 search">
        <h3 class="alert-success text-center">Sort and Pagination in Angular js</h3>
        <form class="form-inline">
            <div class="form-group">
                <label >Search</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
    <div class="col-lg-9 col-lg-offset-2">
        <div class="bs-component" ng-controller="listdata">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th ng-click="sort('id')">Id
                        <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('first_name')">First Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('last_name')">Last Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('hobby')">Hobby
                        <span class="glyphicon sort-icon" ng-show="sortKey=='hobby'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="user in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:6">
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.hobby}}</td>
                </tr>
                </tbody>
            </table>
            <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true" >
            </dir-pagination-controls>
        </div>
    </div>
</div>


<script src="lib/angular/angular.js"></script>
<script src="lib/dirPagination.js"></script>
<script src="app/app.js"></script>
</body>

</html>